@model pruebarestaurante.Models.PlatilloIngredienteViewModel
@{ ViewData["Title"] = "Confirmar Eliminación"; }

<h1>@ViewData["Title"]</h1>

<p>La película @Model.nombrePlatillo se ha eliminado correctamente.</p>

<a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
