@model pruebarestaurante.Models.PlatilloIngredienteViewModel
@{
    ViewData["Title"] = "Crear Platillo";
}

<form asp-action="Guardar">
    <div class="form-group">
        <label>Nombre Platillo:</label>
        <input asp-for="nombrePlatillo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Precio Platillo:</label>
        <input asp-for="precioPlatillo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Descripción Platillo:</label>
        <textarea asp-for="descripcionPlatillo" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Número de Ingredientes:</label>
        <input type="number" id="numeroIngredientes" class="form-control" min="0" />
    </div>

    <div id="ingredientes-container"></div>

    <button type="button" onclick="crearFormularios()" class="btn btn-primary">Crear Ingredientes</button>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    <script>
        function crearFormularios() {
            var numeroIngredientes = parseInt(document.getElementById("numeroIngredientes").value);
            var container = document.getElementById("ingredientes-container");
            container.innerHTML = "";

            for (var i = 0; i < numeroIngredientes; i++) {
                var formGroup1 = document.createElement("div");
                formGroup1.className = "form-group";
                var label1 = document.createElement("label");
                label1.innerText = "Nombre Ingrediente:";
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "Ingredientes[" + i + "].nombreIngrediente";
                input1.className = "form-control";
                formGroup1.appendChild(label1);
                formGroup1.appendChild(input1);

                var formGroup2 = document.createElement("div");
                formGroup2.className = "form-group";
                var label2 = document.createElement("label");
                label2.innerText = "Cantidad Disponible (porciones para hacer un platillo):";
                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "Ingredientes[" + i + "].cantidadDisponible";
                input2.className = "form-control";
                formGroup2.appendChild(label2);
                formGroup2.appendChild(input2);

                container.appendChild(formGroup1);
                container.appendChild(formGroup2);
            }
        }
    </script>
}
